*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 158, 14);
    height: 100dvh;
    padding: 1em;
}

.child {
    display: flex;
    margin: 2em;
    background-color: rgb(34, 179, 97);
    padding: 1em;
    height: 80%;
}

.sibling {
    margin: 2em;
    background-color: rgb(34, 179, 97);
    padding: 1em;
    height: 80%;
}

.grandchild {
    margin: 1em 2em;
    background-color: rgb(59, 204, 175);
    padding: 1em;
    flex: 1;
}
